Repository huogui/vue3-drag-resize: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix

chore: add stylelint
  .lintstagedrc
Due: none

chore: add stylelint
  .stylelintignore
Due: none

chore: add actions
  .github/workflows/preview.yml
  .github/workflows/release.yml
Due: none

feat: 测试action
  package.json
  yarn.lock
Due: none

chore(release): 0.0.1
  CHANGELOG.md
  package.json
Due: none

feat: 测试action
  src/components/vue-drag-resize.vue
Due: eslint --fix, stylelint --allow-empty-input --fix

chore(release): 0.0.2
  CHANGELOG.md
  package.json
Due: none

feat: 测试action
  package.json
  vite.config.preview.ts
Due: none

chore(release): 0.0.3
  CHANGELOG.md
  package.json
Due: none

chore: 测试action
  src/components/vue-drag-resize.vue
Due: eslint --fix, stylelint --allow-empty-input --fix

chore: 测试action
  package.json
Due: none

chore: 测试action
  src/App.vue
Due: eslint --fix, stylelint --allow-empty-input --fix

chore(release): 0.0.4
  CHANGELOG.md
  package.json
Due: none

chore(release): 0.0.5
  CHANGELOG.md
  package.json
Due: none

chore: 测试action
  .npmrc
Due: none

chore(release): 0.0.6
  CHANGELOG.md
  package.json
Due: none

chore(release): 0.0.7
  CHANGELOG.md
  package.json
Due: none

Deploying to gh-pages from @ huogui/vue3-drag-resize@dda3d878b6db6a0a4253e4a97bd46b62ee3aad10 🚀
  assets/index.4d13d3fa.js
  index.html
Due: none

Deploying to gh-pages from @ huogui/vue3-drag-resize@2308d3836a0e964c4faeacd98b11208b361b7435 🚀
  assets/index.4d13d3fa.js
  assets/index.ff641c14.js
  index.html
Due: none

Set theme jekyll-theme-slate
  _config.yml
Due: none

chore: project init
  CHANGELOG.md
Due: none

Deploying to gh-pages from @ huogui/vue3-drag-resize-next@34b79685a5f059f6023b2d39c4bd38441c3f9aa6 🚀
  _config.yml
Due: none

feat: 完成拖拽、旋转
  package.json
  src/App.vue
  src/components/vue-drag-resize.less
  src/components/vue-drag-resize.vue
  src/utils.ts
  yarn.lock
Due: eslint --fix, stylelint --allow-empty-input --fix

chore(release): 0.0.8
  CHANGELOG.md
  package.json
Due: none

Deploying to gh-pages from @ huogui/vue3-drag-resize-next@961afe71e16c682e180ea48e31ff46ca3fc6c321 🚀
  assets/index.4d74dd8a.js
  assets/index.4e9d979b.css
  assets/index.ff641c14.js
  index.html
Due: none

Deploying to gh-pages from @ huogui/vue3-drag-resize-next@fc2544938a8965d0e4387a7beef1527405435813 🚀
  assets/index.28c17ce3.js
  assets/index.4d74dd8a.js
  assets/index.4e9d979b.css
  index.html
Due: none

Deploying to gh-pages from @ huogui/vue3-drag-resize-next@3861210c39db3674b94d63fbd666c742fb1812c0 🚀
  assets/index.28c17ce3.js
  assets/index.4d74dd8a.js
  assets/index.4e9d979b.css
  index.html
Due: none

chore: reset
  src/components/vue-drag-resize.less
Due: stylelint --allow-empty-input --fix

chore: reset
  src/components/vue-drag-resize.vue
Due: eslint --fix, stylelint --allow-empty-input --fix

Deploying to gh-pages from @ huogui/vue3-drag-resize-next@14c4993f8d5f96bc20a34501503d676bf0e30613 🚀
  assets/index.4d74dd8a.js
  assets/index.9ddfd93b.js
  index.html
Due: none

chore: add @huogui/eslint-config
  .eslintrc
  .eslintrc.js
  package.json
  pnpm-lock.yaml
  src/App.vue
Due: eslint --fix, stylelint --allow-empty-input --fix

Path conditions:
  eslint --fix: any of: src/**/*.{ts,js,tsx,vue}
  stylelint --allow-empty-input --fix: any of: src/**/*.{vue,css,less,scss}
